*.exe
/.vs
/CPP/8_Kyu/.vs/8_Kyu/v16
/CPP/8_Kyu/Square_N_Sum/Debug
/CPP/8_Kyu/Debug
*.sln
*.user
*.filters
*.vcxproj
*.log
*.pdb
*.idb
*.obj
*.ilk
*.recipe
*.tlog
*.opendb
*.db-wal
*.db-shm
*.db
*.suo
